# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim tags
tags
.tags
.*.swp

# Editors
.vscode

# build-in-source directory

# emacs temporary/backup files
.\#*
\#*\#
*~

# GDB temporary files
.gdb_history
install.dir*

# documentation artifacts
_build/
_images/
_static/
_templates/
_toc.yml
_doxygen/

# JetBrains IDE
.idea/
cmake-build*/
build*/

# Python virtualenv
.venv/

# Python cache
__pycache__/
# Legacy unpacked SQlite3 files
src/kernels/*.db
src/kernels/*.kdb

# Backup files created by text editors
*~

# Merge files created by git
*.orig
*.BACKUP
*.REMOTE
*.BASE
*.LOCAL

# Vim/NVim swap files
.*.sw?
.sw?

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse project settings
*.*project
.settings

# Nested build directory
build*/

# VS2022 and VSCode settings
.vs/
.vscode/

# JetBrains project files
.idea/
cmake-build*/

# Various tags
/tags
/TAGS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/.gitusers
/CMakeSettings.json
/_toc.yml

# Documentation artifacts
docs/.doxygen/DoxygenWarningLog.txt
docs/html
/_readthedocs

# Python virtual environment
.venv/

# Preinstalled dependencies
depend/
minimal/

