# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim tags
tags
.tags
.*.swp

# Editors
.vscode

# build-in-source directory
build*

# emacs temporary/backup files
.\#*
\#*\#
*~

# GDB temporary files
.gdb_history
install.dir*

# documentation artifacts
_build/
_images/
_static/
_templates/
_toc.yml
_doxygen/

# JetBrains IDE
.idea/
cmake-build*/
build*/

# Python virtualenv
.venv/

# Python cache
__pycache__/
